
LOCATE COMP "clk_i" SITE "G2";
IOBUF  PORT "clk_i" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_i" 25 MHZ;

LOCATE COMP "rst_in" SITE "H3";
IOBUF  PORT "rst_in" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "gpi_i" SITE "E1";
LOCATE COMP "gpo_o" SITE "E2";

IOBUF  PORT "gpi_i" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "gpo_o" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
